.chart-plot-background {
    -fx-background-color: #E9E9E9;
}

.default-color0.chart-bar {
    -fx-bar-fill: #1E90FF;
}

.axis {
    -fx-tick-label-fill: gray;
    -fx-font-size: 16px;
}

.axis-label {
    -fx-text-fill: gray;
    -fx-font-size: 20px;
}

.chart-title {
    -fx-text-fill: gray;
    -fx-font-size: 24px;
}
